@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #ACCCDE;
    padding: 1.5rem;
}

.sign-in{
    float: right;
    padding-top: 10px;
    padding-right: 0.5rem;
    color: #910102;
}

.sign-in:hover{
    text-decoration: underline;
}

.sign-in a{
    color: #920102;
    text-decoration: none;
    font-weight: 700;
}

/* NAV */

nav.sticky{
    background-color: #fee140;
    background-image: linear-gradient(90deg, #fee140 0%, #fa709a 100%);
    padding: 2rem;
    text-align: center;
}

nav.sticky a{
    text-decoration: none;
    color: black;
    margin: 0.8rem;
    font-family: "DynaPuff", system-ui;
    font-size: 16px;
}

nav.sticky a:hover{
    color: white;
}

nav.banner{
    /* border: 2px solid blue; */
    position: relative;
}

nav.banner img{
    width: 100%;
    max-height: calc(100vh - 165px)
}

nav.banner .hero{
    /* border: 2px solid red; */
    position: absolute;
    top: 33%;
    left: 10%;
}

#text1{
    color: white;
    font-size: 49px;
}

#text2{
    color: red;
    font-size: 17px;
}

button{
    background-color: skyblue;
    padding: 12px;
    border-radius: 10px;
}

button:hover{
    background-color: #847086;
    cursor: pointer;
}

.par1{
    text-align: left right;
}